/*---------Шрифты------------*/

@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}