/* Галлерея */


.gallery {
    position: relative;
    margin-top: 20px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 18px;
    z-index: 10;

    @media screen and (max-width: 991px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }

    @media screen and (max-width: 556px) {
        flex-direction: column;
        margin-top: -100px;
    }

    img {
        width: 100%;
        flex: 1;
        border-radius: 10px;
        min-width: 100px;
        max-width: 500px;
    }
}