/* Слоган */

.slogan {
    margin-top: 25px;
    width: 100%;
    background-color: var(--green);
    padding: 30px;

    @media screen and (max-width: 556px) {
        padding: 30px 30px 0px 30px;
    }

    .description {
        position: relative;
        margin: 0 auto;
        padding-left: 120px;
        max-width: 820px;
        color: var(--white);
        @media screen and (max-width: 556px) {
            padding: 0;
        }

        h3 {
            font-weight: 700;
            font-size: 31px;
            line-height: 150%;

            @media screen and (max-width: 991px) {
                font-size: 26px;
            }
            @media screen and (max-width: 768px) {
                font-size: 22px;
            }
            @media screen and (max-width: 556px) {
                font-size: 18px;
            }
        }

        p {
            margin-top: 10px;
            font-size: 16px;
            line-height: 150%;
            font-weight: 300;
        }

        img {
            position: absolute;
            left: 0;
            bottom: -30px;
            width: 210px;
            transform: translateX(calc(-100% + 110px));

            @media screen and (max-width: 556px) {
                display: block;
                position: static;
                width: 100%;
                max-width: 230px;
                margin: 0 auto;
                margin-top: 10px;
                transform: none;
            }
        }
    }
}       