.terms {
    font-size: 10px;
    max-width: 110px;
    margin: 30px auto 35px auto;
    font-weight: 100;
    text-align: center;
    color: var(--black);
    line-height: 1.5;

    span {
        white-space: nowrap;
    }
}