/* Тулупы */

.tolops {
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 0px 60px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .termin {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex: 1;
        min-width: 470px;

        @media screen and (max-width: 991px) {
            min-width: 10px;
        }

        h2 {
            font-size: 39px;
            font-weight: 700;
            padding-right: 20px;
            line-height: 150%;

            @media screen and (max-width: 556px) {
                font-size: 27px;
                padding-right: 10px;
            }
        }

        .description {
            padding: 25px 20px 20px 20px;
            width: 100%;
            background: var(--yellow-gradient);

            @media screen and (max-width: 991px) {
                padding: 25px 20px 20px 185px;
            }

            p {
                position: relative;
                font-weight: 700;
                font-size: 30px;
                max-width: 354px;
                margin-left: auto;
                line-height: 150%;

                img {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    transform: translateX(-100%);
                    width: 210px;

                    @media screen and (max-width: 991px) {
                        width: 250px;
                    }
                }

                @media screen and (max-width: 556px) {
                    font-size: 21px;
                    max-width: 156px;
                }
            }
        }
    }

    .putin_all {
        width: 100%;
        min-width: 300px;
        max-width: 467px;
        display: block;
        margin-right: -35px;

        @media screen and (max-width: 991px) {
            margin-right: 0px;
            max-width: none;
            padding: 10px;
        }
    }
}